    .expand {
  transform: scaleX(1) !important;
}
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.54);
    will-change: opacity;
    transform: translateZ(0px);
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1400;
}

.hr-field {
  border-top: none rgb(224, 224, 224);
    border-left: none rgb(224, 224, 224);
    border-right: none rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
}
.hr-field2 {
  border-top: none rgb(0, 188, 212);
    border-left: none rgb(0, 188, 212);
    border-right: none rgb(0, 188, 212);
    border-bottom: 2px solid rgb(0, 188, 212);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.inner {
      position: absolute;
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    bottom: 12px;
}

      .container {
        position: relative;
      }

#dialog {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: relative;
    width: 50%;
    max-width: 768px;
    margin: 0px auto;
    z-index: 1500;
    opacity: 1;
    transform: translate(0px, -180px);
}
.innerDialog {
  color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    border-radius: 2px;
}


#dialog h3 {
      margin: 0px;
    padding: 24px 24px 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}
#dialog .children {
      font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 24px 24px;
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    max-height: 1px;
}
#dialog footer {
      box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px;
    width: 100%;
    text-align: right;
    margin-top: 0px;
    padding-bottom: 50px;
}


      .flex-container {
        display: flex;
        flex-direction: column;
      }

      .flex-container > div {
        margin: 10px 10px 10px 0;
      }
      #errorBox {
        border: 2px solid rgb(222, 222, 222);
        background: rgb(240, 240, 240);
        padding: 10px;
        width: 55%;
        margin-bottom: 10px;
      }

      #errorBox > p {
        margin-bottom: 0.2rem;
        font-size: 0.8rem;
      }

      .errorInput {
        border: 1px solid red !important;
      }
      .errorValidation {
        font-size: 12px;
        color: red;
      }

      .lineError {
        border-color: red;
      }

      p.errorMessage {
        color: red;
        display: block;
        text-align: left;
        font-size: 12px;
      }

      .errorInput + p.specialMessage {
        color: red;
        display: block;
      }

      #dataForm {
        clear: both;
        border: 4px solid #eee;
        padding: 20px;
      }

      #dataForm input[type="text"] {
        padding: 5px;
      }

      #breakdown .payments {
        margin-bottom: 10px
      }

      #breakdown .payments p {
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
      }
      #breakdown .payments h6 {
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
      }
      #breakdown .payments hr {
        margin: 8px 0;
      }
      #breakdown .payments h6 span.owed{
        font-weight: bolder;
      }
      .inputs {
        background: #eee;
        padding: 20px;
      }
      .inputs input[type="button"] {
        background: orange;
        border: purple 2px solid;
        padding: 3px 22px;
        color: white;
      }
      .inputs input {
        padding: 4px;
        border: 1px solid purple;
      }
      .edit {
        float: right;
        background: #ccc;
        font-size: 12px;
      }

button.flat {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    height: 36px;
    line-height: 36px;
    min-width: 88px;
    color: rgba(0, 0, 0, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 2px;
    user-select: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
button.flat:hover {
    background-color: rgba(153, 153, 153, 0.2) !important;
}
button.primary {
  color: rgb(0, 188, 212);
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
button.default {
  color: black;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
button.secondary {
  color: rgb(255, 64, 129);;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}


div.buttonWrap {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    display: inline-block;
    margin: 12px;
}
button.raised {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    padding: 0;
    height: 36px;
    min-width: 88px;
    color: rgba(0, 0, 0, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 2px;
}
button.raised.default {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 10px;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
button.raised.primary {
  background-color: rgb(0, 188, 212);
  color: white;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border: 10px;
}
button.raised.secondary {
  background: rgb(255, 64, 129);
  color: white;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border: 10px;
}
button.raised:hover {
  opacity: 0.5;
}

#pagination button {
  padding: 5px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

      @media all and (min-width: 500px){
        .flex-container {
          flex-direction: row;
        }
      }
